{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    <label for="searchField">Search (regexes accepted):</label><br>
    <input type="text" id="searchField" name="searchField" autofocus>
    {{ range .Pages.ByTitle }}
  <article class="post post-search on-list" data-search-content="{{ .Title | markdownify }}&nbsp;{{- .Date.Format "2006-01-02" -}}&nbsp;{{ .Summary }}{{ range .Params.tags }}&nbsp;#{{ . }}{{ end }}">
        <h2 class="post-search-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }} ||&nbsp;{{- if .Date -}}
            <time class="post-date">
              {{- .Date.Format "2006-01-02" -}}
            </time>
          {{- end -}}</a>
        </h2>
        <div class="post-meta">
          {{- with .Params.Author -}}
            <span class="post-author">{{- . -}}</span>
          {{- end -}}
          <!-- comments counter -->
          {{ partial "comments_counter.html" . }}

          {{ if .Params.tags }}
            <span class="post-tags">
              {{ range .Params.tags }}
              #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
                {{- . -}}
              </a>&nbsp;
              {{ end }}
            </span>
          {{ end }}
        </div>

        {{ partial "cover.html" . }}

        <div class="post-search-content">
          {{ if .Params.showFullContent }}
            {{ .Content }}
          {{ else if .Description }}
            {{ .Description | markdownify }}
          {{ else }}
            {{ .Summary }}
          {{ end }}
        </div>

        {{ if not .Params.showFullContent }}
          <!-- <div>
            <a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
          </div> -->
        {{ end }}
      </article>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
